<link rel="stylesheet" href="/css/forgot.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<div id="outer-container">
      <h2>Forgot Password</h2>

        <form action="/users/forgot/submit" method="post">
            <p class="input-heading">Email Address</p>
            <input type="email" name="email" id="" placeholder="Enter email" required>

            <button type="submit">Submit</button>
        </form>
    
    <p style="width: 80%; text-align: center; margin-left: 10%;"> Not Registered
        <a href="/users/sign-up">Sign   Up</a>
    </p>
</div>

